* {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  
  body {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 100px auto;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 25px;
  }
  
  .content h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 0 -25px;
  }
  
  .scores-header {
    display: flex;
    flex-direction: row;
    margin: 50px 0 20px 0;
    justify-content: space-between;
  }
  
  .scores-header > h2 {
    font-size: 30px;
  }
  
  .scores-container {
    border: 3px solid black;
  }
  
  .scores-container > p {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
  }
  
  button {
    border: 2px solid #000;
    box-shadow: 2px 2px 2px #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 2px;
    margin: 10px 0 0 0;
  }
  
  .row-bg {
    background-color: #d7e3ffad;
  }
  
  .AddScore {
    margin: 110px 0 0 100px;
    width: 300px;
  }
  
  .AddScore > h2 {
    font-size: 30px;
    margin: 0 0 15px 0;
  }
  
  input {
    width: auto;
    font-size: 18px;
    font-weight: 500;
    margin: 5px auto;
    padding: 2px;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px #000;
  }
  
  input::placeholder {
    color: #000;
  }